body{
  font-family: aleo, sans-serif;
}
#header {
    background-color: #3f4049;
    height: 8em;
}
#logo {
    position: relative;
    font-size: 20px;
    width: 21asrem;
    height: 6rem;
    top: 1rem;
    left: 15vw;
}
#navbarPos {
    position: absolute;
    top: 0;
    float: right;
    right: 0;
}

#navbar {
    position: relative;
    list-style: none;
    right: 2rem;
    top: 0px;
    margin: 0px;
    height: 100%;
}

#navbar li {
    float: left;
    height: 100%;

}

#navbar li a {
    display: block;
    position: relative;
    text-decoration: none;
    font-weight: 900;
    height: 100%;
    padding: 3rem 2rem;
    font-size: 40px;
    margin-left: 2px;
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#navbar li a:hover {
    background-color: #C49A6C;
}

 #ad {
    background-color: #000000;
    height: 40rem;
    z-index: -1;
    top: 8rem;
}

#text1 {
  position: relative;
    font-size: 55px;
    width: 20rem;
    font-weight: 900;
    top:2rem;
}

#text2 {
    top: 2rem;
    font-size: 20px;
    position: relative;
    font-weight: 500;
    width: 60rem;

}
#textContainer {
  color: white;
    position: absolute;
    left: 20rem;
    top: 0rem;
}
#poza {
  z-index: -2;
  opacity: 0.3;
  position: relative;
  width: 100%;
  height: 100%;
}
#servicii {
    top: 48rem;
    height: 65rem;
  }
#titluSlogan{
  top: 2rem;
  font-size: 45px;
}
#SloganServicii{
  top: 10rem;
  text-align: center;
  font-size: 25px;
  width: 50rem;
}
#readMore{
  font-size: 35px;
  top: 18rem;

}
#readMore a{
  padding:1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: #C49A6C;
  color: white;
  font-style: normal;
  text-decoration: none;
  border-radius: 5px;
}
#readMore a:hover{
  color: #C49A6C;
  background-color:transparent ;
}
#ourService{
  width: 100%;
  height: 45rem;
  position: absolute;
  background-color:black;
  top: 25rem;
}
#fundalService{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;

}
#ourService h1{
  text-align: center;
  font-size: 50px;
  top: 1rem;
  color: white;
}
#centrare{
  width: 70%;
  display: flex;
  color: white;
  text-align: center;
  top: 28rem;
  height: 100%;
}
#contact{
  height: 10rem;
  top: 130rem;
  background-color: #3f4049;
}
#contact h1{
  position: absolute;
  top:-8rem;
  font-size: 60px;
}
#footer{
  padding: 2rem;
  color: white;
  font-size: 20px;
}
.imgrotund{
  position: absolute;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  top: 6rem;
}
.type{
  top: -2rem;
  text-align: center;
  font-size: 30px;
  padding: 0px;
}
.cas{
  position: relative;
  margin-left: 2%;
  height: 70%;
  width: 25rem;
}
.textInfo{
  position: relative;
  padding: 1rem;
  font-size: 20px;
  top: 15rem;
}
.center{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
}
.background{
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
}

@media screen and ( min-width: 1440px) {
  #Logo{
    width:1500px;
    height: 2rem;
  }
}
